.case_study {
    width: 720px;
    max-width: 90vw;
    max-height: 90vh;
    box-sizing: border-box;
    padding: 3rem 1.5rem 1.5rem;
    overflow-y: scroll;
    scrollbar-width: none;
}

.case_study::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--background_color2);
}

.case_study::-webkit-scrollbar:hover {
    outline: 0.2rem solid var(--background_color3);
}

.case_study::-webkit-scrollbar-thumb {
    border-radius: 0.3rem;
    background-color: var(--grey2);
}

.case_study::-webkit-scrollbar-thumb:active {
    background-color: var(--grey1);
}

.case_study h4 {
    margin-top: 2rem;
    margin-bottom: 0;
}

.case_study :where(ul, p) {
    margin-top: 0.5rem;
}

.case_study ul ul {
    list-style: none;
    margin: 0;
    padding-left: 1rem;
}