.banner {
    color: var(--text4);
    width: 22rem;
    max-width: 80vw;
    padding: 1rem;
    border-radius: 1rem;
    position: fixed;
    top: 2rem;
    right: 1rem;
    z-index: 3;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    scale: 0.94;
    translate: 100px;
    -webkit-transition: visibility 0s linear 0.2s, opacity 0.3s ease, translate 0.4s ease, scale 0.2s ease 0.2s;
    -o-transition: visibility 0s linear 0.2s, opacity 0.3s ease, translate 0.4s ease, scale 0.2s ease 0.3s;
    transition: visibility 0s linear 0.2s, opacity 0.3s ease, translate 0.4s ease, scale 0.2s ease 0.3s;
}

.banner_show {
    opacity: 1;
    scale: 1;
    translate: 0;
    visibility: visible;
    pointer-events: all;
}

.banner_yellow {
    border: 2px solid var(--warning1);
    background-color: var(--warning2);
}

.banner_green {
    border: 2px solid var(--success1);
    background-color: var(--success2);
}

.banner_red {
    border: 2px solid var(--error1);
    background-color: var(--error2);
}

.banner span {
    position: absolute;
    top: 0.4rem;
    right: 0.8rem;
    cursor: pointer;
}

.banner span::before {
    content: '✕';
    font-weight: 900;
    font-family: sans-serif;
}

.banner h1 {
    color: var(--text4);
    font-size: 1.5rem;
    margin: 0;
}

.banner p {
    margin-bottom: 0;
}