.contact {
  max-width: 480px;
  margin: auto;
}

.contact>h2 {
  margin: 0;
  text-align: center;
}

.contact>p {
  max-width: 360px;
  margin: 1rem auto;
  text-align: center;
}

.contact>div {
  margin: 2rem 0 6rem;
}

.contact>div a {
  color: inherit;
  text-decoration: none;
}

.list_tile {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--background-color-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
}

@media (hover: hover) {
  .list_tile:hover {
    background-color: var(--background-color-3);
  }
}

.list_tile>div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list_tile img {
  width: 1.25rem;
}

.icon_button {
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 200ms;
}

@media (hover: hover) {
  .icon_button:hover {
    background-color: var(--grey-2-semitransparent);
    outline: 0.5rem solid var(--grey-2-semitransparent);
  }
}

.tooltip_container {
  position: relative;
}

.tooltip_text {
  visibility: hidden;
  font-size: 0.9rem;
  color: var(--background-color-1);
  background-color: var(--grey-1);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 10;
  bottom: 2rem;
  transform: translateX(-1rem);
  opacity: 0;
  transition: opacity 100ms;
}

@media (hover: hover) {
  .tooltip_container:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
  }
}

.tooltip_show {
  visibility: visible;
  opacity: 1;
}