.education::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.education::-webkit-scrollbar {
    background-color: var(--black3);
    border-radius: 8px;
}

.education::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--color1);
    -webkit-box-shadow: inset 1px 0.5px 3px var(--black3);
    box-shadow: inset 1px 0.5px 3px var(--black3);
}

.education {
    padding: 0 0.75rem;
    height: calc(100vh - 9rem);
    overflow-y: auto;
}

.education h1 {
    color: var(--color3);
}

.school {
    color: var(--black1);
    padding: 0.4rem 0.6rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    outline: 0.1rem solid var(--color3);
    outline-offset: 0.2rem;
    background-color: var(--color3);
}

.school section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.school h2 {
    margin: 0;
    font-weight: 400;
}

.school p {
    margin: 0.5rem 0;
}

.school time {
    padding: 0 0.3rem;
    border: 1px solid var(--black1);
    border-radius: 0.5rem;
}

.education h3 {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 2rem 0 0 -0.75rem;
}

.education h3::before {
    content: "——";
    margin-right: 0.6rem;
    letter-spacing: 0;
}

.education ul {
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.education li {
    font-size: 0.8rem;
    width: calc((100% / 2) - 2rem);
    border: 1px solid var(--white3);
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.education li img {
    width: 2rem;
}