.modal {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--grey-2-semitransparent);
  transition: opacity 300ms;
}

.modal_visible {
  opacity: 1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  overflow: auto;
  border-radius: 1rem;
  background-color: var(--background-color-1);
  box-shadow: 0.2rem 0.4rem 2rem var(--grey-2);
  scale: 0.9;
  transition: scale 400ms;
}

.content_visible {
  scale: 1;
}

.close_button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--background-color-2);
  padding: 0.25rem;
  border-radius: 10rem;
  display: flex;
  z-index: 2;
  cursor: pointer;
  transition: all 200ms;
}

.close_button:hover {
  background-color: var(--background-color-3);
}

.close_button img {
  width: 1.5rem;
}

.top_bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding: 0 1.5rem;
  box-sizing: border-box;
  background: var(--background-color-1);
  box-shadow: 0 0 2rem -1rem var(--grey-2);
}

.top_bar_space {
  height: 4rem;
}

.top_bar h1 {
  font-size: 1.5rem;
}