.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: var(--black20_p8_opacity);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s linear 0.2s, opacity 0.3s ease;
    -o-transition: visibility 0s linear 0.2s, opacity 0.3s ease;
    transition: visibility 0s linear 0.2s, opacity 0.3s ease
}

.modal_open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: visibility 0s linear, opacity 0.4s ease;
    -o-transition: visibility 0s linear, opacity 0.4s ease;
    transition: visibility 0s linear, opacity 0.4s ease;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}