.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    background: -o-linear-gradient(top,
            var(--surface1) 60%,
            var(--black40_p8_opacity) 100%);
    background: -webkit-gradient(linear,
            left top, left bottom,
            color-stop(60%, var(--surface1)),
            to(var(--black40_p8_opacity)));
    background: linear-gradient(180deg,
            var(--surface1) 60%,
            var(--black40_p8_opacity) 100%);
}

.navbar_content {
    max-width: 1280px;
    padding: 0.2% 2%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo img {
    width: 4.5rem;
    -webkit-filter: grayscale(0.3);
    filter: grayscale(0.3);
}

.navigation ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navigation li img {
    width: 1.5rem;
}

.navigation li a {
    color: var(--text4);
    text-decoration: none;
    padding: 0.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.3rem;
}

.navigation li {
    width: 7rem;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navigation li:nth-of-type(1) {
    background-color: var(--home);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.navigation li:nth-of-type(2) {
    background-color: var(--about);
}

.navigation li:nth-of-type(3) {
    background-color: var(--stack);
}

.navigation li:nth-of-type(4) {
    background-color: var(--projects);
}

.navigation li:nth-of-type(5) {
    background-color: var(--contact);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.navigation li:hover {
    outline: 1px dashed var(--text4);
    outline-offset: -2px;
}

.navigation li:nth-of-type(1):active {
    -webkit-box-shadow: 0 2rem 8rem 4rem var(--home);
    box-shadow: 0 2rem 8rem 4rem var(--home);
}

.navigation li:nth-of-type(2):active {
    -webkit-box-shadow: 0 2rem 8rem 4rem var(--about);
    box-shadow: 0 2rem 8rem 4rem var(--about);
}

.navigation li:nth-of-type(3):active {
    -webkit-box-shadow: 0 2rem 8rem 4rem var(--stack);
    box-shadow: 0 2rem 8rem 4rem var(--stack);
}

.navigation li:nth-of-type(4):active {
    -webkit-box-shadow: 0 2rem 8rem 4rem var(--projects);
    box-shadow: 0 2rem 8rem 4rem var(--projects);
}

.navigation li:nth-of-type(5):active {
    -webkit-box-shadow: 0 2rem 8rem 4rem var(--contact);
    box-shadow: 0 2rem 8rem 4rem var(--contact);
}

.home_li {
    -webkit-box-shadow: 0 3rem 8rem 1rem var(--home);
    box-shadow: 0 3rem 8rem 1rem var(--home);
}

.about_li {
    -webkit-box-shadow: 0 3rem 8rem 1rem var(--about);
    box-shadow: 0 3rem 8rem 1rem var(--about);
}

.stack_li {
    -webkit-box-shadow: 0 3rem 8rem 1rem var(--stack);
    box-shadow: 0 3rem 8rem 1rem var(--stack);
}

.projects_li {
    -webkit-box-shadow: 0 3rem 8rem 1rem var(--projects);
    box-shadow: 0 3rem 8rem 1rem var(--projects);
}

.contact_li {
    -webkit-box-shadow: 0 3rem 8rem 1rem var(--contact);
    box-shadow: 0 3rem 8rem 1rem var(--contact);
}

@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    .navbar_content {
        display: block;
        padding: 2%;
    }

    .navigation li {
        width: calc(100% / 5);
    }
}