.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 5rem;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 0.5rem;
    background: linear-gradient(180deg,
            var(--background_color1) 25%,
            transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar section a {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--foreground_color1);
    padding: 0.25rem 1rem;
    border-radius: 50%;
    background-color: var(--background_color2);
    display: flex;
}

.navbar ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    width: 24rem;
    user-select: none;
}

.navbar li img {
    width: 1.5rem;
}

.navbar li {
    padding: 0.4rem;
    transition: box-shadow 300ms;
    text-align: center;
}

.navbar ul li:nth-of-type(1) {
    background-color: var(--color1);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.navbar ul li:nth-of-type(2) {
    background-color: var(--color2);
}

.navbar ul li:nth-of-type(3) {
    background-color: var(--color3);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.navbar ul li:nth-of-type(1):hover {
    box-shadow: 0 1rem 4rem var(--color1);
}

.navbar ul li:nth-of-type(2):hover {
    box-shadow: 0 1rem 4rem var(--color2);
}

.navbar ul li:nth-of-type(3):hover {
    box-shadow: 0 1rem 4rem var(--color3);
}

.navbar ul li:nth-of-type(1):active {
    box-shadow: 0 1rem 8rem 4rem var(--color1);
}

.navbar ul li:nth-of-type(2):active {
    box-shadow: 0 1rem 8rem 4rem var(--color2);
}

.navbar ul li:nth-of-type(3):active {
    box-shadow: 0 1rem 8rem 4rem var(--color3);
}

.current {
    outline: 0.1rem dashed var(--grey1);
    outline-offset: -0.25rem;
}

.navbar ul li:nth-last-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.navbar ul li:nth-last-of-type(2) input {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.1rem solid var(--color2_dark);
    transition: all 200ms ease-in;
}

.navbar ul li:nth-last-of-type(2) input:checked {
    border-width: 0.5rem;
}

@media screen and (max-width: 400px) {
    .navbar section {
        display: none;
    }

    .navbar ul {
        width: 100%;
    }
}