.project {
  margin-top: 2rem;
  padding: 2rem 1rem;
  background-color: var(--background-color-2);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
}

.project h3 {
  margin: 0;
}

.image_frame {
  width: 90%;
  aspect-ratio: 3/2;
  margin: auto;
  background-color: var(--background-color-3);
  border: 0.1rem solid var(--grey-2-semitransparent);
  border-radius: 0.5rem;
}

.image_frame img {
  width: 100%;
  border-radius: 0.5rem;
  vertical-align: bottom;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1.5rem 0;
}

.buttons button {
  font-weight: 600;
  letter-spacing: 0.06rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 200ms;
}

.buttons button :where(a, span) {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.filled_button {
  border: none;
  color: var(--background-color-2);
  background-color: var(--foreground-color);
}

.outlined_button {
  border: 0.1rem solid var(--foreground-color);
  background-color: transparent;
}

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.tags li {
  font-size: 0.8rem;
  background-color: var(--background-color-3);
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 600px) {
  .project {
    display: flex;
    flex-direction: column-reverse;
  }

  .image_frame {
    width: 80vw;
  }
}