.projects {
    padding: 6rem 0 2rem;
}

.projects h1 {
    color: var(--projects);
}

.projects>div {
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    padding: 1.25rem;
    outline: 0.2rem dashed var(--border2);
    outline-offset: -0.5rem;
    border-radius: 0.5rem;
    background-color: var(--surface2);
    -webkit-box-shadow: inset 0 0 1rem -0.25rem var(--shadow2);
    box-shadow: inset 0 0 1rem -0.25rem var(--shadow2);
}

.card>img {
    width: 20rem;
    border-radius: 0.5rem;
}

.card h2 {
    font-weight: 500;
    text-align: center;
    margin: 1rem 0;
}

.card section {
    margin: 1rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 0.4rem 1fr 0.4rem 1fr;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 0.4rem;
}

.card button {
    position: relative;
    font-size: 1rem;
    text-transform: capitalize;
    color: inherit;
    padding: 0.3rem;
    border: 0.1rem solid var(--border1);
    border-radius: 0.25rem;
    background: transparent;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.card button:hover {
    -webkit-box-shadow: inset 0 0 2rem -1rem var(--border1);
    box-shadow: inset 0 0 2rem -1rem var(--border1);
}

.card button:active {
    -webkit-box-shadow: inset 0 0 4rem -1rem var(--border1);
    box-shadow: inset 0 0 4rem -1rem var(--border1);
}

.card button:nth-of-type(1)::after {
    position: absolute;
    content: "→";
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.card button:nth-of-type(1):hover::after {
    margin-left: 0.5rem;
    opacity: 1;
}

.card button img {
    width: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
}

@media screen and (max-width: 420px) {
    .card>img {
        width: 100%;
    }
}