.main {
    max-width: 1280px;
    margin: auto;
}

.main>div {
    height: 100vh;
    min-height: max-content;
    overflow-y: scroll;
    scrollbar-width: none;
    margin: auto;
    box-sizing: border-box;
    padding: 5rem 1rem 1rem;
    scroll-snap-align: start;
}

.main>div::-webkit-scrollbar {
    display: none;
}